.dark footer {
    background: #212529;
    color: #dee2e6;
}
.light footer {    
    background: #f8f9fa !important;
    color: #000000;
}

.footer {
    /*position:absolute;
    left:0;
    bottom:0;
    right:0;*/
    
    
    margin-top: 1rem;
}